# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store
